.aboutus-container{
    position: relative;
    width:100%;
    height:100%;
}
.about-hero-container{
    position:relative;
    width:100%;
    height: 25pc;
    height: 100%;
    background: url(../assets/hero-aboutus.jpg)center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-hero-container1{
    position:relative;
    width:100%;
    height: 25pc;
    height: 100%;
    background: url(../assets/hero-aboutus1.jpg)center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-hero-container h2{
    bottom: 0;
    color: #222;
    color: rgba(0,0,0,.7);
    font-family: din-condensed-web,DINCondensed-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 400;
    left: 0;
    letter-spacing: .05em;
    line-height: 1em;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    text-transform: uppercase;
    -webkit-transform: translate(-5px, 25px);
    -ms-transform: translate(-5px, 25px);
    -o-transform: translate(-5px, 25px);
    transform: translate(-5px, 25px);
    width: 100%;
    letter-spacing: .2em;
}
.abt-hero-text{
    font-size: 60px;
    color: white;
    font-weight: 500;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 10px rgba(0,0,0,.5);
    line-height: 1.2em;
    margin-top: -20px;
}
.abt-hero-content{
    position: relative;
    background: #f0f0f0 url(../assets/light-gray.gif) center center repeat;
    width:100%;
    height:100%;
    color: #555;
    font-family: kepler-std-display,serif;
    font-size: 18px;
    line-height: 1.7em;
    padding: 50pt 0;
}
.about-row{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    /*height:100%;*/
    margin: 0 auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 5pc;
    -moz-column-gap: 5pc;
    column-gap: 5pc;

}
.about-row p:first-child{
    margin-bottom: 10px;
}
.about-row-second p:nth-child(1),.about-row-second p:nth-child(3){
    margin-bottom: 50px;
}
.about-row p:nth-child(2),.about-row p:nth-child(2){
    margin-left: 20px;
}
.about-row strong{
    color: #333;
    font-family: din-condensed-web,DINCondensed-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 4.5pc;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.1em;
    text-transform: uppercase;
}
.about-row-second strong{
    color: #333;
    font-family: din-condensed-web,DINCondensed-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 3pc;
    font-weight: 400;
    letter-spacing: .05em;
    line-height: 1.1em;
    text-transform: uppercase;
}
.about-row-second{
    max-width: 900px;
    margin: 0 auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 5pc;
    -moz-column-gap: 5pc;
    column-gap: 5pc;
    padding-top: 100px;
}
.about-row-second p{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    overflow: hidden;
}